<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.familink"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"	 >
        <activity
            android:name=".FamilinkAndroidActivity"
            android:label="@string/app_name"
            android:theme="@style/noAnimTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectGroupActivity"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".JournalActivity"
            android:label="@string/title_activity_journal"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".MenuButtonActivity"
            android:label="@string/title_activity_menu_button"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".AnnouncementsActivity"
            android:label="@string/title_activity_announcements"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".MessageKid"
            android:label="@string/title_activity_message_kid"
            android:theme="@style/noAnimTheme" >
        </activity>
        <activity
            android:name=".WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/noAnimTheme" >
        </activity>
    </application>

</manifest>